<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--商品配置的service-->
    <bean id="itemsService" class="service.impl.ItemsServiceImpl"/>

    <!--系统认证授权的service-->
    <bean id="sysService" class="service.impl.SysServiceImpl"/>

</beans>